.footer {
  background-color: var(--accent-color);
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

.footer h6 {
  font-weight: 900;
}

.footer .logo {
  max-width: 120px;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in-out;
}

.footer a:hover {
  color: var(--primary-color);
  font-weight: bold;
}
